* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 80px 0;
    min-height: 100vh;
}

.nav-top, .nav-bottom {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgb(187, 182, 182);
    height: 60px;

    flex-shrink: 0;
}

.nav-top {
    top: 0;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-top > h1 {
    cursor: pointer;
}

.nav-bottom {
    bottom: 0;
}

.nav-bottom > .bottom_nav_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.nav-bottom > .bottom_nav_wrapper > div {
    width: 25%;
    text-align: center;
    background-color: grey;
    padding: 10px 0;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom > .bottom_nav_wrapper > div:nth-child(even) {
    background-color:black;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.recipe_search {
    max-width: 80%;
}

.recipe_search > label {
    display: block;
}